body {
    background-color: #EFF3F9;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.img {
    width: 140px;
    height: 140px;
}

.content {
    margin: 120px 180px;
    position: fixed;
    max-height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
}

.left {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 800px;
}

.firstPart {
    display: flex;
    gap: 25px;
}

.right {
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    height: 490px;
    width: 100%;
    max-width: 800px;
}

.button {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    padding: 12px 24px;
    background-color: #409AC7;
    background: linear-gradient(to right, #409AC7 50%, #A9A9A9 50%);
    background-size: 200% 100%;
    border: none;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-position 0.5s ease-in-out;
}

.button:hover {
    background-position: right center;
}

.clickIcon {
    width: 20px;
    height: 20px;
    background-image: white;
}

.mySwiper2 {
    /* width: 100%;
    height: 100%; */
    width: 805px;
}

.swiperSlide2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    margin: 5px;
}

.hamburgerBtn {
    display: none;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: none;
    border: none;
    z-index: 1001;
    cursor: pointer;
}

.main {
    width: 250px;
    flex-shrink: 0;
}


@media (max-width: 1200px) {

    .main {
        display: none;
    }

    .content {
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }

    .firstPart {
        display: flex;
        flex-direction: column;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left {
        width: 100%;
    }
  
    .right {
        width: 100%;
        height: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
  
    .mySwiper2 {
        width: 100%;
    }
}

@media (max-width: 820px) {
    .right {
        width: 70%;
    }

    .firstPart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

