@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 85px;
    color: white;
    cursor: pointer;
}

.nav {
    display: flex;
    list-style: none;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    z-index: 2;
}

.img {
    z-index: 2;
}

.button {
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-weight: bold;
    background-image: linear-gradient(106deg, #1674cc, #FFC931);;
    cursor: pointer;
    border: none;
}

.image {
    z-index: 2;
    width: 50px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

.logoName {
    font-family: "Exo 2", sans-serif;
    font-size: 25px;
}