.container {
    margin-left: 180px;
    background-color: white;
    max-width: 85vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
    transition: width 0.3s ease;
}

.img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.div {
    display: flex;
    align-items: center;
}

.input {
    width: 30vw;
    height: 40px;
    background-color: #EFF3F9;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: black;
}

.input::placeholder {
    color: gray;
}

.searchIcon {
    margin-left: -35px;
    cursor: pointer;
    z-index: 2;
    position: relative;
}

.lastDiv {
    display: flex;
    gap: 15px;
}

.location {
    cursor: pointer;
    color: silver;
    margin-left: 2px;
    font-size: 14px;
}

.account {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.hamburgerIcon {
    cursor: pointer;
    margin-left: 10px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    display: block;
    padding: 20px;
}

.hamburger {
  font-size: 28px;
  margin-right: 12px;
  cursor: pointer;
} 

.dropdownMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 11%;
    left: 59%;
    width: 20%;
    background-color: white;
    z-index: 99;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.miniItem {
    cursor: pointer;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.miniSidebar {
    list-style: none;
}

@media (max-width: 1200px) {
    .hamburgerIcon {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .container {
        max-width: 800px; 
        width: 100%;
        margin-left: 0px;
    }

    .add {
        margin-left: 55px;
    }

    .input {
        margin-left: 10px;
    }
}

@media (min-width: 1201px) {
    .hamburgerIcon {
        display: none;
    }
}